# scikit-learn 1.2.2와 호환되는 안정적인 numpy/pandas 버전 명시
pandas==1.5.3
numpy==1.23.5
scikit-learn==1.2.2

# 나머지 필요한 라이브러리들
geopy
folium
urllib3
streamlit
branca
plotly
seaborn
joblib
requests
Pillow
haversine
